/*-----------------SECTION-MIXINS--------------------*/
/*------------------------SECTION-FONTS----------------*/
@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Regular.woff2") format("woff2"), url("../fonts/PTSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Bold.woff2") format("woff2"), url("../fonts/PTSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Light.woff2") format("woff2"), url("../fonts/Geometria-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Medium.woff2") format("woff2"), url("../fonts/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-MediumItalic.woff2") format("woff2"), url("../fonts/Geometria-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.woff2") format("woff2"), url("../fonts/Geometria.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/*------------------------SECTION-SMART-GRID----------------*/
/*------------------------SECTION-ADJUSTMENT----------------*/
input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: #eacba9;
  font-family: "Geometria", Arial, sans-serif;
  color: #0c4435;
  font-weight: 400;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 1199.99px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 991.99px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 767.99px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 575.99px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.content ul {
  margin: 1em 0;
  padding-left: 40px;
}

.content ul li {
  list-style: disc;
}

.content h1 {
  margin: 0.67em 0;
}

.content h2 {
  margin: 0.83em 0;
}

.content h3 {
  margin: 1em 0;
}

.content h4 {
  margin: 1.33em 0;
}

.content h5 {
  margin: 1.67em 0;
}

.content h5 {
  margin: 2.33em 0;
}

.content p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  background: none;
  outline: none;
  border: none;
  font: inherit;
  line-height: inherit;
}

input, textarea {
  background: none;
  border: none;
  outline: none;
  font: inherit;
}

/*------------------------SECTION-COMMON----------------*/
.tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #ffffff;
}

.tel__icon {
  margin-right: 10px;
}

.tel__svg {
  width: 0.9375rem;
  height: 0.9375rem;
  fill: rgba(255, 255, 255, 0.5);
}

.tel__title {
  opacity: .5;
  padding-bottom: 0.75rem;
}

.tel__link_bold {
  font-weight: bold;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.email__svg {
  width: 0.9375rem;
  height: 0.8125rem;
  fill: rgba(255, 255, 255, 0.5);
  margin-right: 10px;
}

.email__link {
  color: #eacba9;
  text-decoration: underline;
}

.addr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.addr__svg {
  margin-top: 5px;
  width: 1.0625rem;
  height: 1.0625rem;
  fill: #eacba9;
  margin-right: 10px;
}

.addr__link {
  color: #ffffff;
  font-size: 1.125rem;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__svg {
  width: 1.1875rem;
  height: 1.1875rem;
  fill: #eacba9;
  margin-right: 10px;
  margin-top: 5px;
}

.work__time {
  font-size: 18px;
  color: #ffffff;
}

.work__time_time {
  color: #eacba9;
}

/*------------------------SECTION-HEADER----------------*/
.header__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__middle {
  background-color: #0c4435;
  padding: 20px 0;
}

.header__middle .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(16.66667% - 20px);
}

.header__title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  color: rgba(255, 255, 255, 0.6);
}

.header__contacts {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(20.83333% - 20px);
}

.header__call {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(16.66667% - 20px);
}

.header__basket {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(20.83333% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0;
}

.header__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 50px;
  padding: 15px 0;
  position: relative;
  cursor: pointer;
}

.nav__item:hover .nav__sub {
  left: 0;
}

.nav__item:hover .nav__link:before {
  opacity: 0.2;
}

.nav__link {
  color: rgba(12, 68, 53, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
}

.nav__link:before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #0c4435;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.nav__link_sub:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 4px 0 4px;
  border-color: #0c4435 transparent transparent transparent;
  margin-left: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.nav__sub {
  position: absolute;
  z-index: 20;
  left: -3000px;
  top: calc(100% + 7px);
}

.nav__sub:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 30px;
}

.subnav {
  width: 182px;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.subnav__item {
  color: rgba(12, 68, 53, 0.8);
  padding: 5px 10px;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.subnav__item:hover {
  color: #f34d19;
  background-color: #eed5ba;
}

.cabinet-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cabinet-link__svg {
  width: 1.1875rem;
  height: 1.1875rem;
  fill: #f34d19;
  margin-right: 9px;
}

.cabinet-link__title {
  color: #f34d19;
  position: relative;
}

.cabinet-link__title:after {
  content: '';
  background: url("../images/bg/line.png") 0 0;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.cabinet-link__title:hover:after {
  opacity: 0;
}

.call-btn {
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 8px 14px;
  margin-bottom: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.call-btn:hover {
  border: 1px solid #f34d19;
  color: #f34d19;
}

.time {
  opacity: 0.6;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.compare-link {
  width: 3.125rem;
  height: 3.125rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 12px;
  margin-right: 18px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
}

.compare-link:hover {
  border: 1px solid #f34d19;
}

.compare-link:hover .compare-link__svg {
  fill: #f34d19;
}

.compare-link__svg {
  width: 100%;
  height: 100%;
  fill: #eacba9;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.compare-link__num {
  width: 22px;
  height: 18px;
  background-color: #eacba9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #0c4435;
  font-size: 12px;
  border-radius: 2px;
  position: absolute;
  right: -10px;
  top: -10px;
  border-bottom-left-radius: 0;
}

.compare-link__num:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 0px;
  border-color: #eacba9 transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 0;
}

.basket-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.basket-link:hover .basket-link__icon {
  border: 1px solid #f34d19;
}

.basket-link:hover .basket-link__price-type {
  fill: #f34d19;
}

.basket-link:hover .basket-link__price-num {
  color: #f34d19;
}

.basket-link__icon {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 2px;
  margin-right: 15px;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.basket-link__icon-wrap {
  width: 2.75rem;
  height: 2.75rem;
  background-color: #f34d19;
  border-radius: 50%;
  padding: 10px;
}

.basket-link__svg {
  width: 100%;
  height: 100%;
  fill: #ffffff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.basket-link__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.basket-link__price-type {
  width: 11px;
  height: 15px;
  fill: #ffffff;
  margin-right: 8px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.basket-link__price-num {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__item {
  margin-right: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.menu__item:hover .menu__svg {
  fill: #f34d19;
}

.menu__item:hover .menu__title {
  color: #f34d19;
}

.menu__item:after {
  content: '';
  display: block;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(234, 203, 169, 0.3);
}

.menu__item:last-child {
  margin-right: 0;
  padding-right: 0;
}

.menu__item:last-child:after {
  display: none;
}

.menu__svg {
  width: 1.5625rem;
  height: 1.5625rem;
  margin-right: 5px;
  fill: #eacba9;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.menu__title {
  color: #eacba9;
  font-weight: 700;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search__field {
  margin-right: 10px;
  position: relative;
}

.search__clear {
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
  margin-top: -10px;
}

.search__clear-svg {
  width: 1.125rem;
  height: 1.125rem;
  fill: rgba(255, 255, 255, 0.3);
}

.search__input {
  width: 334px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 14px;
  padding: 9px 20px;
  padding-right: 40px;
  border: 1px solid transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.search__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.search__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.search__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.search__input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.search__input:focus, .search__input:active {
  border: 1px solid #eacba9;
}

.search__submit {
  width: 2.4375rem;
  height: 2.4375rem;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding: 10px;
  cursor: pointer;
}

.search__submit:hover {
  border: 1px solid #f34d19;
}

.search__submit:hover .search__svg {
  fill: #f34d19;
}

.search__svg {
  width: 100%;
  height: 100%;
  fill: #eacba9;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.search__ajax {
  display: none;
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  width: 333px;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 3px 5px 3px 20px;
}

.search__ajax.active {
  display: block;
}

.search__wrap {
  height: 333px;
  overflow-y: auto;
  padding-right: 10px;
}

.search__wrap::-webkit-scrollbar {
  width: 4px;
}

.search__wrap::-webkit-scrollbar-track {
  background-color: rgba(12, 68, 53, 0);
}

.search__wrap::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #0c4435;
}

.search__item {
  display: block;
  padding: 17px 30px 17px 0;
  border-bottom: 1px solid rgba(12, 68, 53, 0.2);
}

.search__item .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search__item-img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(29.16667% - 20px);
}

.search__item-desc {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(70.83333% - 20px);
}

.search__item-title {
  margin-bottom: 10px;
}

.search__item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.price {
  color: #f34d19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
  position: relative;
}

.price_old {
  color: rgba(107, 107, 107, 0.6);
  font-size: 0.875rem;
}

.price_old:after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  background: rgba(107, 107, 107, 0.6);
}

.price__val {
  font-weight: bold;
  margin-right: 0.3125rem;
}

.price__type {
  font-size: 0.9375em;
}

/*------------------------SECTION-FOOTER---------------------*/
.footer {
  background-color: #000000;
}

.footer__top {
  padding: 60px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer__left {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(29.16667% - 20px);
}

.footer__middle {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(45.83333% - 20px);
  margin-right: calc(2.08333% + 10px);
  padding-top: 25px;
}

.footer__right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(22.91667% - 20px);
  padding-top: 25px;
}

.footer__logo {
  display: block;
  max-width: 177px;
  margin-bottom: 15px;
}

.footer__title {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 30px;
}

.footer__tels {
  margin-bottom: 30px;
}

.footer__col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(33.33333% - 20px);
}

.footer__title {
  color: #eacba9;
  font-weight: 700;
  margin-bottom: 30px;
  display: block;
}

.footer__item {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 13px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__addr {
  margin-bottom: 30px;
}

.footer__bottom {
  padding: 30px 0;
}

.footer__bottom .container {
  position: relative;
}

.footer__copy {
  text-align: center;
}

.footer__vendor {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.copy {
  color: rgba(255, 255, 255, 0.6);
}

.vendor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.vendor__title {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 9px;
}

.vendor__img {
  margin-top: 5px;
}

/*# sourceMappingURL=main.css.map */