//variables
//fonts
$font: 'Geometria', Arial, sans-serif;

//colors
$text: #0c4435;
$bg: #eacba9;
$orange: #f34d19;
$orange2: #ff6536;
$white: #ffffff;
$grey: #6b6b6b;
$green: #105946;
$lightGreen: #17ae5e;

//another
$font-size: 16px;


//layout
/*-----------------SECTION-MIXINS--------------------*/
@import "layout/mixins";

$btnW: 264px;
$btnH: 54px;

/*------------------------SECTION-FONTS----------------*/
@import "layout/fonts";
/*------------------------SECTION-SMART-GRID----------------*/
@import "layout/smart-grid";
/*------------------------SECTION-ADJUSTMENT----------------*/
@import "layout/adjustment";
/*------------------------SECTION-COMMON----------------*/
@import "layout/common";



//sections
/*------------------------SECTION-HEADER----------------*/
@import "sections/header";
/*-----------------SECTION-BANNER--------------------*/
@import "sections/banner";
/*-----------------SECTION-ABOUT--------------------*/
@import "sections/about";
/*-----------------SECTION-ICATALOG--------------------*/
@import "sections/icatalog";
/*-----------------SECTION-ISPECS--------------------*/
@import "sections/ispecs";
/*-----------------SECTION-ITEM--------------------*/
@import "sections/item";
/*-----------------SECTION-IPARTS--------------------*/
@import "sections/iparts";
/*-----------------SECTION-IFEED--------------------*/
@import "sections/ifeed";
/*-----------------SECTION-IREVS--------------------*/
@import "sections/irevs";
/*-----------------SECTION-CATALOG--------------------*/
@import "sections/catalog";
/*-----------------SECTION-RECENTLY--------------------*/
@import "sections/recently";
/*-----------------SECTION-PRODUCT--------------------*/
@import "sections/product";
/*-----------------SECTION-CART--------------------*/
@import "sections/cart";
/*-----------------SECTION-CONTACTS--------------------*/
@import "sections/contacts";
/*-----------------SECTION-FORMS--------------------*/
@import "sections/forms";
/*-----------------SECTION-ARTICLES--------------------*/
@import "sections/articles";
/*------------------------SECTION-FOOTER---------------------*/
@import "sections/footer";


.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}