extends ../main

block variables
    - var title = 'О компании'
    - var header = 'header_2'

block content
    main.comp
        //- bread
        section.comp__bread
            .container
                .bread
                    a(href='/').bread__item
                        .bread__item-title Главная
                    span.bread__item
                        .bread__item-title О компании


        //-main
        section.comp__main
            .container
                //- title
                .comp__title.title.title_left О компании

                //- about
                .comp__about
                    .cabout
                        .row
                            .cabout__left
                                .cabout__wrap
                                    .cabout__img
                                        img(src='images/content/company/aboutImg.png').cabout__img-img
                                    .cabout__list
                                        each i,x in caboutList
                                            .cabout__item
                                                .cabout__item-num= '0'+(x+1)
                                                .cabout__item-desc= i

                            .cabout__right
                                .cabout__title Что нужно знать о нас
                                .cabout__desc Компания ООО «Трансфрут» - современное российское предприятие, предлагающее потребителю широкую линейку орехов, сухофруктов, сладостей под собственной маркой «ВКУСИТА».
                                .cabout__button
                                    a(href='#' download=true).cabout__link
                                        +icon('pdf', 'cabout__link-svg')
                                        .cabout__link-title Скачать прайс-лист


            //- video
            .comp__video
                .cvideo
                    .container
                        .cvideo__title.title.title_gold Видео презентация компании
                        .row
                            .cvideo__video
                                img(src='images/bg/companyVideoImg.png').cvideo__img
                                .cvideo__wrap
                                    a(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").cvideo__link
                                        img(src='images/content/company/video.jpg').cvideo__link-img
                                        button(type='button').cvideo__button



            //- advantages
            .comp__advs
                .container
                    +advantages()
            //- certs
            .comp__certs
                .ccerts
                    .container
                        .ccerts__title.title.title_gold Документы и сертификаты
                        .ccerts__list
                            .row
                                each i in [1,2,3]
                                    a(href='images/content/company/cert'+i+'.jpg' data-fancybox="images" data-caption="My caption").ccerts__item
                                        img(src='images/content/company/cert'+i+'.jpg').ccerts__item-img









