extends ../main

block variables
    - var title = 'Главная'

block content
    main.main
        //- banner
        section.main__banner

        //- about
        section.main__about

        //- catalog
        section.main__catalog

        //- specs
        section.main__specs

        //- partners
        section.main__partners

        //- feed
        section.main__feed

        //- reviews
        section.main__revs
