.tels {

}

.tel {
  display: flex;
  align-items: flex-end;
  color: $white;

  &__icon {
    margin-right: 10px;
  }

  &__svg {
    width: rem(15px);
    height: rem(15px);
    fill: rgba($white,.5);
  }

  &__title {
    opacity: .5;
    padding-bottom: rem(12px);
  }

  &__link {

    &_bold {
      font-weight: bold;
    }
  }
}

.email {
  display: flex;
  align-items: center;

  &__svg {
    width: rem(15px);
    height: rem(13px);
    fill: rgba($white,.5);
    margin-right: 10px;
  }

  &__link {
    color: $bg;
    text-decoration: underline;
  }
}

.addr{
  display: flex;

  &__svg{
    margin-top: 5px;
    width: rem(17px);
    height: rem(17px);
    fill: $bg;
    margin-right: 10px;
  }
  &__link {
    color: $white;
    font-size: rem(18px);
  }
}

.work{
  display: flex;


  &__item {

  }

  &__svg{
    width: rem(19px);
    height: rem(19px);
    fill: $bg;
    margin-right: 10px;
    margin-top: 5px;
  }

  &__time {
    font-size: 18px;
    color: $white;
    &_time {
      color: $bg;
    }
  }
}

.btn {
  width: $btnW;
  height: $btnH;
  box-shadow: 0 3px 0 #c4461f;
  border-radius: 4px;
  background-color: $orange;
  background-image: linear-gradient(to top, $orange 0%, $orange2 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 18px;
  font-weight: 500;
  transition: .3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 transparent;
    background-image: linear-gradient(to top, transparent 0%, transparent 100%);
  }

  &__svg {
    width: rem(22px);
    height: rem(22px);
    fill: $white;
    margin-right: 10px;
    transition: .3s;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    transition: .3s;
  }
}

.btn2 {
  width: $btnW;
  height: $btnH;
  border-radius: 4px;
  border: 1px solid rgba($white,.5);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;

  &:hover {
    border: 1px solid $orange;
    .btn2__svg {
      fill: $orange;
    }
    .btn2__title {
      color: $orange;
    }
  }

  &__svg {
    width: rem(22px);
    height: rem(22px);
    fill: $bg;
    margin-right: 10px;
    transition: .3s;
  }

  &__title {
    color: $bg;
    font-size: 18px;
    font-weight: 500;
    transition: .3s;
  }
}

.button {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid rgba($text,.4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: .3s;

  &:hover {
    border: 1px solid rgba($orange,1);
    color: $orange;
  }
}

.title {
  text-align: center;
  color: $text;
  font-family: "PT Serif";
  font-size: 48px;
  font-weight: 400;
  line-height: lh(48px, 68px);

  &_left {
    text-align: left;
  }

  &_gold {
    color: $bg;
  }
}

.subtitle {
  color: rgba($white,.6);
  font-size: 20px;
  text-align: center;
}

.arrow {
  width: 59px;
  height: 59px;
  border: 1px solid #f27a55;
  background-color: $bg;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  transition: .3s;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #f27a55;
  }

  &_next {
    .arrow__svg {
      transform: rotate(-180deg);
    }
  }

  &__svg {
    width: 13px;
    height: 21px;
    fill: $orange;
  }
}

.input {
  padding: 16px 20px;
  border-radius: 4px;
  background-color: rgba($white,.2);
  width: 100%;


  &::placeholder {

  }

  &_gold {
    border: 1px solid $bg;
    color: $white;

    &::placeholder{
      color: rgba($white,.5);
    }
  }
}

.fz {

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__input {
    display: none;

    &:checked {
      +.fz__fake {
        .fz__svg {
          fill: $white;
        }
      }
    }
  }

  &__fake {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid rgba($bg,.5);
    background: rgba(#336255,.5);
    padding: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
  }

  &__svg {
    width: 100%;
    height: 100%;
    fill: transparent;
    transition: .3s;
  }

  &__title {
    color: $white;
  }
}