//variables
$vw: 1920;
$vh: 1080;

@function rem($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1rem;
}

@function em($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1em;
}

@mixin fz($size) {
  font-size: $size;
  font-size: rem($size);
}

@function lh($size1, $size2) {
  $lh: $size2 / $size1;
  @return $lh;
}

@function vw($size) {
  @return $size/$vw *100*1vw;
}

@function vh($size) {
  @return $size/$vh *100*1vh;
}

@mixin content() {

  h1 {
    font-family: "PT Serif";
    font-size: rem(64px);
    font-weight: 400;
    margin-bottom: rem(20px);
  }
  h2 {
    font-family: "PT Serif";
    font-size: rem(48px);
    font-weight: 400;
    margin-bottom: rem(20px);
  }
  h3 {
    font-family: "PT Serif";
    font-size: rem(36px);
    font-weight: 400;
    margin-bottom: rem(20px);
  }
  h4 {
    font-family: "PT Serif";
    font-size: rem(28px);
    font-weight: 400;
    margin-bottom: rem(20px);
  }
  h5 {
    font-family: "PT Serif";
    font-size: rem(20px);
    font-weight: 400;
    margin-bottom: rem(20px);
  }
  h6 {
    font-family: "PT Serif";
    font-size: rem(16px);
    font-weight: 400;
    margin-bottom: rem(20px);
  }

  p {
    margin-bottom: rem(20px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  a{
    color: $orange;
    transition: .3s;
    position: relative;

    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background: url("../images/bg/line.png") 0 0;
      transition: .3s;
    }

    &:hover {
      &:after {
        opacity: 0;
      }
    }
  }

  ul{
    margin-bottom: rem(20px);

    li {
      padding-left: 20px;
      margin-bottom: 15px;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: rem(8px);

        width: rem(6px);
        height: rem(6px);
        background-color: $orange;
        border-radius: 50%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@mixin headers() {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  h6 {
    font-size: 0.75rem;
  }
}