.banner{
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 400px;
  padding-bottom: 180px;
  background-attachment: fixed;
  @include lg-block{
    padding-top: 250px;
    padding-bottom: 80px;
  };
  @include sm-block{
    padding-top: 150px;
    padding-bottom: 40px;
    background-attachment: initial;
  };

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $white;
    font-family: "PT Serif";
    font-size: 64px;
    text-align: center;
    line-height: lh(64,68);
    margin-bottom: 20px;
    @include lg-block{
      font-size: 40px;
    };
    @include sm-block{
      font-size: 22px;
    };
  }

  &__sub {
    color: $white;
    font-size: 26px;
    text-align: center;
    margin-bottom: 80px;
    @include lg-block{
      font-size: 20px;
    };
    @include sm-block{
      font-size: 16px;
      margin-bottom: 25px;
    };
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__button {
    @include sm-block{
      width: 100%;
      &:first-child{
        margin-bottom: 22px;
      }
    };

    .btn,.btn2 {
      @include sm-block{
        width: 100%;
      };
    }
  }

  &__else {
    margin: 0 30px;
    color: rgba($white,.6);
    font-size: 14px;
    @include sm-block{
      display: none;
    };
  }
}