.banner{
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 400px;
  padding-bottom: 180px;
  background-attachment: fixed;
  @include lg-block{
    padding-top: 250px;
    padding-bottom: 80px;
  };

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $white;
    font-family: "PT Serif";
    font-size: 64px;
    text-align: center;
    line-height: lh(64,68);
    margin-bottom: 20px;
    @include lg-block{
      font-size: 40px;
    };
  }

  &__sub {
    color: $white;
    font-size: 26px;
    text-align: center;
    margin-bottom: 80px;
    @include lg-block{
      font-size: 20px;
    };
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__else {
    margin: 0 30px;
    color: rgba($white,.6);
    font-size: 14px;
  }
}