.cab{
  padding-top: 55px;
  padding-bottom: 110px;
  @include lg-block{
    padding-top: 30px;
    padding-bottom: 60px;
  };

  &__bread {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__sws {
    position: relative;
    margin-bottom: 40px;
    @include lg-block{
      margin-bottom: 30px;
    };
    &-list {
      display: flex;
      justify-content: center;
    }
  }

  &__sw {
    color: $green;
    cursor: pointer;
    transition: .3s;
    padding: 0 25px 10px 25px;
    @include sm-block{
      font-size: 12px;
      padding: 0 10px 5px 10px;
    };


    &.active {
      color: $orange;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    position: relative;
    background-color: rgba($text, .2);
  }

  &__subline {
    position: absolute;
    height: 100%;
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    background: $orange;
    transition: .4s;
  }

  &__tabs {
    width: 100%;
    position: relative;
  }

  &__tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .5s;

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
}

.compare {

  &__container {
    padding-bottom: 40px;
  }

  &__left {
    @include col;
    @include size(6);
    @include sm-block{
      display: none;
    };
  }

  &__right {
    @include col;
    @include size(18);
    @include size-sm(24);
  }

  &__headers {
    padding: 10px 0;
  }

  &__header {
    color: $green;
    font-weight: 700;
    padding: 25px 0;
    border-bottom: 1px solid rgba($text,.2);
  }

  &__item {
    border-radius: 6px;
    border: 1px solid rgba($text,.2);
    padding: 10px;
    box-sizing: border-box;

    &-wrap {
      background-color: $white;
      border-radius: 6px;
    }

    &-row {
      padding: 25px 20px;
      border-bottom: 1px solid rgba($text,.2);
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        .compare__item-title{
          text-decoration: underline;
        }
      }
    }

    &-title {
      font-size: 18px;
      margin-bottom: 17px;
      text-align: center;
    }

    &-img {
      width: 105px;
      height: 127px;
    }
    &-pic {
      max-width: 100%;
      max-height: 100%;
    }

    &-name {
      color: $green;
      font-weight: 700;
      margin-bottom: 10px;
      display: none;
      @include sm-block{
        display: block;
        text-align: center;
      };
    }

    &-discount {
      display: flex;
      align-items: center;
    }
    &-percent {
      color: $lightGreen;
      font-weight: 700;
      margin-right: 5px;
    }

    &-country {
      color: $green;
    }

    &-avaible {
      color: $lightGreen;
      &_not {
        color: $orange;
      }
    }

    &-rating {
      margin-bottom: 10px;
    }
    &-text {
      color: rgba($green,.8);
      @include lg-block{
        text-align: center;
      };
    }

    &-weight {
      color: $green;
    }

    &-buttons {
      padding: 25px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-buy {
      margin-bottom: 15px;
      width: 100%;
    }

    &-del {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &:hover {
        &:after {
          opacity: 0;
        }
      }

      &:after {
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: url("../images/bg/line.png")0 0;
        transition: .3s;
      }
    }
    &-svg {
      width: 11px;
      height: 13px;
      fill: $orange;
      margin-right: 5px;
    }
    &-delname {
      color: $orange;
    }
  }

  .swiper-scrollbar {
    border-radius: 3px;
    background: rgba(#eed5ba,1);
  }

  .swiper-container-horizontal>.swiper-scrollbar {
    left: 0;
    bottom: 0px;
    height: 6px;
    width: 100%;
  }

  .swiper-scrollbar-drag {
    background: $text;
    border-radius: 3px;
  }
}

.pers {
  border-radius: 4px;
  border: 1px solid rgba($text,.2);
  padding: 10px;

  &__wrap {
    background: url("../images/bg/ispecsBg.png") 0 0;
  }

  &__left {
    @include col;
    @include size(6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 10px;
    @include size-lg(7);
    @include lg-block{
      padding: 40px 10px;
    };
    @include size-sm(24);
    @include sm-block{
      padding: 20px 10px;
      padding-top: 30px;
    };
  }

  &__right {
    @include col;
    @include size(16);
    @include shift-right(2);
    padding-top: 80px;
    padding-bottom: 60px;
    @include shift-lg-right(1);
    @include lg-block{
      padding: 40px 0;
    };
    @include size-sm(24);
    @include sm-block{
      padding: 0 10px;
      padding-bottom: 25px;
    };
  }

  &__logo {
    width: 132px;
    height: 132px;
    background-color: $text;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__name {
    color: $white;
    font-size: 56px;
    font-weight: 700;
  }

  &__exit {
    color: #473535;
    text-decoration: underline;
    margin-bottom: 15px;
    &:hover {
      text-decoration: none;
    }
    @include sm-block{
      display: none;
      text-align: center;
    };

    &_sm{
      display: none;
      @include sm-block{
        display: block;
      };
    }
  }

  &__del {
    color: #d23131;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    @include sm-block{
      display: none;
      text-align: center;
    };

    &_sm{
      display: none;
      @include sm-block{
        display: block;
      };
    }
  }

  &__field {
    @include col;
    @include size(12);
    margin-bottom: 30px;
    @include size-lg(24);

    &_2 {
      @include size(24);
    }

    &-name {
      color: rgba(#473535,.8);
      margin-bottom: 5px;
    }
  }

  &__buttons {
    display: flex;justify-content: center;
  }

  &__submit {
    @include sm-block{
      width: 100%;
      margin-bottom: 25px;
    };

  }
}

.pass {
  border-radius: 4px;
  border: 1px solid rgba($text,.2);
  padding: 10px;

  &__wrap {
    background: url("../images/bg/ispecsBg.png") 0 0;
    padding-top: 45px;
    padding-bottom: 50px;
    @include lg-block{
      padding-top: 35px;
      padding-bottom: 40px;
    };
  }

  &__fields {
    @include col;
    @include size(20);
    @include shift(2);
    margin-bottom: 30px;
    @include size-lg(22);
    @include shift-lg(1);
  }

  &__field {
    @include col;
    @include size(12);
    @include size-sm(24);

    &-title {
      color: rgba(#473535,.8);
      margin-bottom: 5px;
    }

    &-input {
      position: relative;
    }

    &-show {
      opacity: 0.5;
      transition: .3s;
      position: absolute;
      top: 50%;
      right: 20px;
      margin-top: -8px;

      &:hover {
        opacity: 1;
      }
    }
    &-svg {
      width: 25px;
      height: 16px;
      fill: $text;

    }
  }

  &__buttons {
    @include col;
    @include size(20);
    @include shift(2);
    display: flex;
    justify-content: center;
    @include size-sm(24);
    @include shift-sm(0);
  }

  &__submit {
    @include sm-block{
      width: 240px;
    };
  }

}


