.comp {
  padding-top: 50px;
  @include lg-block {
    padding-top: 30px;
  }
;

  &__bread {
    margin-bottom: 25px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__about {
    margin-bottom: 180px;
    @include lg-block {
      margin-bottom: 60px;
    }
  ;
  }

  &__advs {
    padding: 60px 0;
    background: url("../images/bg/ispecsBg.png") 0 0;
  }

}

.cabout {
  &__left, &__right {
    @include col;
    @include size(12);
    @include size-lg(24);
  }

  &__left {
    @include lg-block {
      order: 1;
    }
  ;
  }

  &__right {
    @include lg-block {
      margin-bottom: 30px;
    }
  ;
  }

  &__wrap {
    border-radius: 6px;
    border: 1px solid rgba($text, .2);
    padding: 10px;
    position: relative;
    @include lg-block {
      margin-bottom: 210px;
    }
  ;
  }

  &__img {
    width: 130%;
    position: absolute;
    top: 100%;
    left: 100%;
    max-width: 765px;
    transform: translate(-30%, -50%);
    @include lg-block {
      width: 100%;
      padding-left: 50px;
      left: 50%;
      transform: translate(-50%, -30%);
    }
  ;
  }

  &__list {
    background: url("../images/bg/ispecsBg.png") 0 0;
    padding: 50px 35px 50px 0;
    overflow: hidden;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &-num {
      text-shadow: 0px 1px 0 rgb(236, 175, 137), 0px -1px 0 rgb(236, 175, 137), 1px 0px 0 rgb(236, 175, 137), -1px 0px 0 rgb(236, 175, 137), 1px 1px 0 rgb(236, 175, 137), 1px -1px 0 rgb(236, 175, 137), -1px 1px 0 rgb(236, 175, 137), -1px -1px 0 rgb(236, 175, 137);
      -webkit-text-shadow: 0px 1px 0 rgb(236, 175, 137), 0px -1px 0 rgb(236, 175, 137), 1px 0px 0 rgb(236, 175, 137), -1px 0px 0 rgb(236, 175, 137), 1px 1px 0 rgb(236, 175, 137), 1px -1px 0 rgb(236, 175, 137), -1px 1px 0 rgb(236, 175, 137), -1px -1px 0 rgb(236, 175, 137);
      -moz-text-shadow: 0px 1px 0 rgb(236, 175, 137), 0px -1px 0 rgb(236, 175, 137), 1px 0px 0 rgb(236, 175, 137), -1px 0px 0 rgb(236, 175, 137), 1px 1px 0 rgb(236, 175, 137), 1px -1px 0 rgb(236, 175, 137), -1px 1px 0 rgb(236, 175, 137), -1px -1px 0 rgb(236, 175, 137);
      color: $bg;
      font-family: "PT Serif";
      font-size: 110px;
      font-weight: 700;
      position: relative;
      left: -28px;
      line-height: 1;
    }

    &-desc {
      color: rgba($green, .8);
      position: relative;
      padding-bottom: 12px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        height: 2px;
        width: 82px;
        background-color: $lightGreen;
      }
    }
  }

  &__title {
    font-family: "PT Serif";
    font-size: 36px;
    margin-bottom: 15px;
    @include lg-block {
      font-size: 28px;
    }
  ;
  }

  &__desc {
    color: $orange;
    font-size: 24px;
    margin-bottom: 25px;
  }

  &__button {
    @include lg-block {
      display: none;
    }
  ;

    &_lg {
      display: none;
      @include lg-block {
        display: flex;
        justify-content: center;
      }
    ;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 54px;
    border: 1px solid $green;
    border-radius: 4px;
    transition: .3s;

    &:hover {
      border: 1px solid $orange;

      .cabout__link {

        &-svg {
          fill: $orange;
        }

        &-title {
          color: $orange;
        }
      }
    }

    &-svg {
      width: 22px;
      height: 19px;
      fill: $green;
      margin-right: 10px;
      transition: .3s;
    }

    &-title {
      font-size: 18px;
      font-weight: 500;
      color: $green;
      transition: .3s;
    }
  }
}

.cvideo {
  background-color: $text;
  padding-top: 60px;
  padding-bottom: 80px;
  @include lg-block {
    padding-top: 40px;
    padding-bottom: 60px;
  }
;

  &__title {
    margin-bottom: 20px;
  }

  &__video {
    @include col;
    @include size(20);
    @include shift(2);
    position: relative;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid $bg;
    @include size-lg(24);
    @include shift-lg(0);
  }

  &__wrap {
    position: absolute;
    top: 32px;
    bottom: 32px;
    left: 32px;
    right: 32px;
    border-radius: 6px;
    overflow: hidden;
  }

  &__link {
    position: relative;
    display: block;

    &:hover {
      .cvideo__button {
        border: 1px solid $orange;
      }
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -55px;
    margin-left: -55px;
    width: 110px;
    height: 110px;
    border: 1px solid $white;
    border-radius: 50%;
    padding: 4px;
    transition: .3s;


    &:before {
      content: '';
      display: block;
      border-radius: 50%;
      background-color: $white;
      width: 100%;
      height: 100%;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 11.5px 0 11.5px 20px;
      border-color: transparent transparent transparent $orange;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10px;
      margin-top: -11.5px;
    }
  }
}

.ccerts {
  background-color: $text;
  background-image: url("../images/bg/ifeedBg.png");
  background-repeat: repeat-x;
  background-position: 0 bottom;
  padding-top: 60px;
  padding-bottom: 180px;

  @include lg-block{
    padding-top: 40px;
    padding-bottom: 110px;
  };

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    @include lg-block {
      display: none;
    }
  ;
  }

  &__item {
    @include col;
    @include size(8);
    @include lg-block {
      margin: 0;
      width: 100%;
      display: block;
    }
  ;

    &-img {
      width: 100%;
    }
  }

  &__slider {
    display: none;
    @include lg-block {
      display: block;
      margin-left: -20px;
      margin-right: -20px;
    }
    .slick-center h3 {
        color: #e67e22;
        opacity: 1;
        transform: scale(1);
      }

    .slick-slide {
      padding: 0 35px;
      opacity: .5;
      transition: .3s;

      &.slick-active {
        opacity: 1;
      }
    }

    .slick-arrow {
      display: none;
    }

    .slick-dots{
      li{
        width: 14px;
        height: 14px;
        border: 1px solid $white;
        border-radius: 50%;
        opacity: 0.4;
        padding: 2px;

        &.slick-active{
          opacity: 1;
          button{
            background: $white;
          }
        }

        button{
          width: 100%;
          height: 100%;
          font-size: 0;
          padding: 0;
          border-radius: 50%;
          background: transparent;
          &:before {
            font-size: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}