.drop-btn {
  background-color: rgba($white,.1);
  padding: 20px 20px;
  @include sm-block{
    padding: 17px 14px;
  };



  &__svg {
    max-width: 39px;
    max-height: 39px;
    fill: #eed5ba;
    @include sm-block{
      width: 33px;
      height: 25px;
      display: block;
    };
  }
}

.drop {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(#000,.5);
  padding-top: 150px;
  @include sm-block{
    padding-top: 130px;
  };

  .container{
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
    @include sm-block{
      padding-right: $offset_sm;
    };
  }


  &__wrapper {
    position: relative;
    width: 495px;
    border-radius: 4px;
    background: $bg url("/images/bg/ispecsBg.png") 0 0;
    padding: 20px;
    @include sm-block{
      width: 280px;
      margin: 0 auto;
      padding-bottom: 30px;
    };
  }

  &.active {
    display: block;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;

    &-svg{
      width: 23px;
      height: 23px;
      fill: #0c4536;
      opacity: 0.7;
    }
  }

  &__cabinet {
    margin-bottom: 40px;
    @include sm-block{
      margin-bottom: 10px;
    };
  }

  &__compare{
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba($text,.15);
  }

  &__nav {
    border-bottom: 1px solid rgba($text,.15);
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &__menu {
    border-bottom: 1px solid rgba($text,.15);
    padding-bottom: 25px;
    margin-bottom: 25px;
    @include sm-block {
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }

  &__addr {
    margin-bottom: 15px;
  }

  &__work {
    border-bottom: 1px solid rgba($text,.15);
    padding-bottom: 20px;
    margin-bottom: 25px;
  }

  &__bottom {
    .row{
      align-items: center;
    }
  }

  &__left,&__right {
    @include col;
    @include size(12);
    @include size-sm(24);
  }

  &__left {
    @include sm-block{
      margin-bottom: 20px;
    };
  }

  &__email {
    margin-top: 10px;
    @include sm-block{
      display: none;
    };

    &_sm{
      display: none;
      @include sm-block{
        display: block;
      };
    }
  }
}