.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &_2 {
    position: static;

    .header__bottom {
      background: url("../images/bg/headerBottomBg.jpg") 0 0 no-repeat;
      background-size: cover;
    }
  }

  &__top {
    background: $bg;
    @include lg-block{
      display: none;
    };
    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__middle {
    background-color: $text;
    padding: 20px 0;
    @include lg-block {
      padding: 0;
    };

    .row  {
      align-items: center;
      @include sm-block{
        justify-content: space-between;
        margin: 0;
      };
    }

    .container{
      @include sm-block{
        padding-left: 0;
      };
    }
  }

  &__logo {
    @include col;
    @include size(4);
    @include size-lg(4.5);
    @include sm-block{
      margin: 0;
      order: 2;
      width: 97px;
    };
  }

  &__title {
    @include col;
    @include size(6);
    @include lg-block{
      display: none;
    };

    color: rgba($white,.6);
  }

  &__contacts {
    @include col;
    @include size(5);
    @include size-lg(6);
    @include sm-block{
      display: none;
    };
  }

  &__call{
    @include col;
    @include size(4);
    @include size-lg(6);
    @include sm-block{
      display: none;
    };
  }

  &__basket {
    @include col;
    @include size(5);
    @include size-lg(4.5);
    display: flex;
    align-items: center;
    @include sm-block{
      margin: 0;
      order: 3;
      width: auto;
    };
  }

  &__drop-btn {
    display: none;
    @include lg-block{
      display: block;
    };
    @include col;
    @include size-lg(3);
   @include sm-block{
     margin: 0;
     width: auto;
     order: 1;
   };
  }

  &__bottom {
    border-bottom: 1px solid rgba($white,.2);
    padding: 10px 0;


    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__menu {
    @include sm-block{
      display: none;
    };
  }

  &__search {
    @include sm-block{
      width: 100%;
    };

  }

  &__drop {
    position: relative;
  }

}

.nav {
  display: flex;
  @include lg-block {
    flex-direction: column;
    align-items: flex-start;
  };

  &__item {
    margin-right: 50px;
    padding: 15px 0;
    position: relative;
    cursor: pointer;
    @include lg-block{
      padding: 7px 0;
    };

    &:hover {
      .nav__sub {
        left: 0;
      }
      .nav__link{
        &:before {
          opacity: 0.2;
          @include lg-block{
            opacity: 0;
          };
        }
      }
    }
  }

  &__link {
    color: rgba($text,.8);
    display: flex;
    align-items: center;
    transition: .3s;
    position: relative;
    font-size: 16px;
    @include lg-block{
      color: $text;
    };


    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $text;
      opacity: 0;
      transition: .3s;
    }

    &_sub {
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 4px 0 4px;
        border-color: $text transparent transparent transparent;
        margin-left: 5px;
        transition: .3s;
      }
    }

  }

  &__sub {
    position: absolute;
    z-index: 20;
    left: -3000px;
    top: calc(100% + 7px);
    @include lg-block {
      position: static;
      display: none;
    };
    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      height: 30px;
      @include lg-block{
        display: none;
      };
    }
  }

}

.subnav {
  width: 182px;
  border-radius: 6px;
  background-color: $white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  @include lg-block{
    width: auto;
    background-color: transparent;
    padding: 0;
    padding-left: 40px;
  };

  &__item {
    color: rgba($text,.8);
    padding: 5px 10px;
    border-radius: 4px;
    background-color: transparent;
    transition: .3s;
    font-size: 16px;

    &:hover {
      color: $orange;
      background-color: #eed5ba;
      @include lg-block{
        color: rgba($text,.8);
        background-color: transparent;
      };
    }
  }
}

.cabinet-link {
  display: flex;
  align-items: center;

  &_green {
    .cabinet-link {

      &__svg {
        fill: $text;
      }

      &__title {
        color: $text;

        &:after {
          background: url("../images/bg/line3.png") 0 0;
        }
      }
    }
  }

  &__svg {
    width: 19px;
    height: 19px;
    fill: $orange;
    margin-right: 9px;
  }

  &__title {
    color: $orange;
    position: relative;
    font-size: 16px;

    &:after {
      content: '';
      background: url("../images/bg/line.png") 0 0;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      opacity: 1;
      transition: .3s;
    }

    &:hover {
      &:after{
        opacity: 0;
      }
    }
  }
}

.call-btn {
  color: $white;
  border-radius: 4px;
  border: 1px solid rgba($white,.5);
  padding: 8px 14px;
  margin-bottom: 10px;
  transition: .3s;
  cursor: pointer;
  @include lg-block{
    width: 100%;
    margin-bottom: 0;
    font-size: 14px;
  };
  &:hover {
    border: 1px solid rgba($orange,1);
    color: $orange;
  }
}

.time {
  opacity: 0.6;
  color: rgba($white,.6);
  font-size: 14px;
  @include lg-block {
    display: none;
  };
}

.compare-link {
  width: 50px;
  height: 50px;
  border: 1px solid rgba($white,.5);
  border-radius: 50%;
  padding: 12px;
  margin-right: 18px;
  transition: .3s;
  position: relative;
  @include sm-block{
    display: none;
  };


  &:hover {
    border: 1px solid rgba($orange,1);
    .compare-link__svg {
      fill: $orange;
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
    fill: $bg;
    transition: .3s;
  }

  &__num {
    width: 22px;
    height: 18px;
    background-color: $bg;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text;
    font-size: 12px;
    border-radius: 2px;
    position: absolute;
    right: -10px;
    top: -10px;
    border-bottom-left-radius: 0;

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 4px 0 0px;
      border-color: $bg transparent transparent transparent;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}

.basket-link {
  display: flex;
  align-items: center;

  &:hover {
    .basket-link__icon {
      border: 1px solid rgba($orange,1);
    }
    .basket-link__price-type {
      fill: $orange;
    }
    .basket-link__price-num{
      color: $orange;
    }
  }

  &__icon {
    border: 1px solid rgba($white,.5);
    border-radius: 50%;
    padding: 2px;
    margin-right: 15px;
    position: relative;
    transition: .3s;
    @include lg-block{
      margin-right: 0;
    };

    &-wrap {
      width: 44px;
      height: 44px;
      background-color: $orange;
      border-radius: 50%;
      padding: 10px;
      @include sm-block{
        width: 32px;
        height: 32px;
        padding: 7px;
      };
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
    fill: $white;
    transition: .3s;
  }

  &__price {
    display: flex;
    align-items: center;
    @include lg-block{
      display: none;
    };

    &-type {
      width: 11px;
      height: 15px;
      fill: $white;
      margin-right: 8px;
      transition: .3s;
    }

    &-num {
      color: $white;
      font-size: 18px;
      font-weight: 500;
      transition: .3s;
    }
  }

}

.menu {
  display: flex;
  align-items: center;

  &_drop{
    .menu{
      &__item {
        flex-direction: column;
        margin-right: 0;
        padding-right: 0;
        flex-grow: 1;

        &:after {
          background: rgba($text,.15);
          top: 6px;
          bottom: 6px;
        }
      }

      &__svg {
        fill: $orange;
        margin-bottom: 7px;
      }
      
      &__title {
        color: $orange;
      }
    }
  }

  &__item {
    margin-right: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    position: relative;
    @include lg-block{
      margin-right: 30px;
      padding-right: 30px;
    };


    &:hover,&.active {
      .menu__svg{
        fill: $orange;
      }
      .menu__title {
        color: $orange;
      }
    }
    
    &:after {
      content: '';
      display: block;
      width: 1px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba($bg,.3);
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      &:after {
        display: none;
      }
    }
  }

  &__svg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    fill: $bg;
    transition: .3s;
  }

  &__title {
    color: $bg;
    font-weight: 700;
    transition: .3s;
  }
}

.search{
  position: relative;
  display: flex;
  align-items: center;
  @include sm-block{
    width: 100%;
  };

  &__field {
    margin-right: 10px;
    position: relative;
    @include sm-block{
      flex-grow: 1;
    };
  }

  &__clear{
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    margin-top: -10px;

    &:hover {
      .search__clear-svg {
        fill: rgba($white,.6);
      }
    }

    &-svg {
      width: 18px;
      height: 18px;
      fill: rgba($white,.3);
      transition: .3s;
    }
  }

  &__input {
    width: 334px;
    border-radius: 3px;
    background-color: rgba($white,.1);
    color: rgba($white,1);
    font-size: 14px;
    padding: 9px 20px;
    padding-right: 40px;
    border: 1px solid transparent;
    transition: .3s;
    @include lg-block{
      width: 217px;
    };
    @include sm-block{
      width: 100%;
    };


    &::placeholder {
      color: rgba($white,.3);
    }

    &:focus,&:active {
      border: 1px solid $bg;
    }
  }

  &__submit {
    width: 39px;
    height: 39px;
    border-radius: 3px;
    border: 1px solid rgba($white,.5);
    transition: .3s;
    padding: 10px;
    cursor: pointer;

    &:hover {
      border: 1px solid rgba($orange,1);
      .search__svg {
        fill: $orange;
      }
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
    fill: $bg;
    transition: .3s;
  }

  &__ajax {
    display: none;
    position: absolute;
    z-index: 100;
    top: calc(100% + 20px);
    left: 0;

    width: 333px;
    border-radius: 6px;
    background-color: $white;
    padding: 3px 5px 3px 20px;
    @include lg-block {
      width: 270px;
      padding-left: 10px;
    };

    &.active {
      display: block;
    }
  }

  &__wrap {
    height: 333px;
    overflow-y: auto;
    padding-right: 10px;

    &::-webkit-scrollbar{
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba($text,0);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba($text,1);
    }
  }

  &__item {
    display: block;
    padding: 17px 30px 17px 0;
    border-bottom: 1px solid rgba($text,.2);

    .row {
      align-items: center;
    }

    &-img {
      @include col;
      @include size(7);
    }
    &-desc {
      @include col;
      @include size(17);
    }

    &-title {
      margin-bottom: 10px;
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}