-
    var nav = [
        {
            title: 'О компании',
            link: '/',
            sub : [
                {
                    title: 'О нас',
                    link: '/'
                },
                {
                    title: 'Отзывы',
                    link: '/'
                },
                {
                    title: 'Сертификаты',
                    link: '/'
                },
                {
                    title: 'Партнерам',
                    link: '/'
                }
            ]
        },
        {
          title: 'Доставка и оплата',
          link: '/'
        },
        {
          title: 'Производители',
          link: '/'
        },
        {
          title: 'Акции',
          link: '/'
        },
        {
          title: 'Контакты',
          link: '/'
        }
    ];
-
    var menu = [
        {
            title: 'Орехи',
            link: '/',
            svg: 'nuts'
        },
        {
            title: 'Сухофрукты',
            link: '/',
            svg: 'fruits'
        },
        {
            title: 'Глазурь',
            link: '/',
            svg: 'glaze'
        }
    ];
-
    var footerMenu = [
        {
            title: 'О компании',
            list: [
                {
                    name: 'О нас',
                    href: 'about.html'
                },
                {
                    name: 'Наша упаковка',
                    href: '/'
                },
                {
                    name: 'Отзывы',
                    href: 'reviews.html'
                },
                {
                    name: 'Сертификат',
                    href: '/'
                },
                {
                    name: 'Партнерам',
                    href: '/'
                }
            ]
        },
        {
            title: 'Каталог',
            list: [
                {
                    name: 'Ореха',
                    href: 'catalog.html'
                },
                {
                    name: 'Сухофрукты',
                    href: 'catalog.html'
                },
                {
                    name: 'Глазурь',
                    href: 'catalog.html'
                }
            ]
        },
        {
            title: 'Доставка и оплата',
            list: [
                {
                    name: 'Акции',
                    href: 'stock.html'
                },
                {
                    name: 'Производители',
                    href: '/'
                },
                {
                    name: 'Контакты',
                    href: 'contacts.html'
                }
            ]
        }
    ];
-
    var icats = ['Орехи', 'Сухофрукты', 'Глазурь'];
-
    var ispecs = [
        {
            title: 'Все',
            count: 12,
            active: 'active'
        },
        {
            title: 'Орехи',
            count: 6,
            active: ''
        },
        {
            title: 'Сухофрукты',
            count: 8,
            active: ''
        },
        {
            title: 'Глазурь',
            count: 7,
            active: ''
        }
    ];