-
    var nav = [
    {
    title: 'О компании',
    link: '/',
    sub : [
    {
    title: 'О нас',
    link: '/'
    },
    {
    title: 'Отзывы',
    link: '/'
    },
    {
    title: 'Сертификаты',
    link: '/'
    },
    {
    title: 'Партнерам',
    link: '/'
    }
    ]
    },
    {
    title: 'Доставка и оплата',
    link: '/'
    },
    {
    title: 'Производители',
    link: '/'
    },
    {
    title: 'Акции',
    link: 'stocks.html'
    },
    {
    title: 'Контакты',
    link: 'contacts.html'
    }
    ];
-
    var menu = [
    {
    title: 'Орехи',
    link: 'catalog.html',
    svg: 'nuts'
    },
    {
    title: 'Сухофрукты',
    link: 'catalog.html',
    svg: 'fruits'
    },
    {
    title: 'Глазурь',
    link: 'catalog.html',
    svg: 'glaze'
    }
    ];
-
    var footerMenu = [
    {
    title: 'О компании',
    list: [
    {
    name: 'О нас',
    href: 'about.html'
    },
    {
    name: 'Наша упаковка',
    href: '/'
    },
    {
    name: 'Отзывы',
    href: 'reviews.html'
    },
    {
    name: 'Сертификат',
    href: '/'
    },
    {
    name: 'Партнерам',
    href: '/'
    }
    ]
    },
    {
    title: 'Каталог',
    list: [
    {
    name: 'Ореха',
    href: 'catalog.html'
    },
    {
    name: 'Сухофрукты',
    href: 'catalog.html'
    },
    {
    name: 'Глазурь',
    href: 'catalog.html'
    }
    ]
    },
    {
    title: 'Доставка и оплата',
    list: [
    {
    name: 'Акции',
    href: 'stocks.html'
    },
    {
    name: 'Производители',
    href: '/'
    },
    {
    name: 'Контакты',
    href: 'contacts.html'
    }
    ]
    }
    ];
-
    var icats = ['Орехи', 'Сухофрукты', 'Глазурь'];
-
    var ispecs = [
    {
    title: 'Все',
    count: 12,
    active: 'active'
    },
    {
    title: 'Орехи',
    count: 6,
    active: ''
    },
    {
    title: 'Сухофрукты',
    count: 8,
    active: ''
    },
    {
    title: 'Глазурь',
    count: 7,
    active: ''
    }
    ];
-
    var productDesc = [
    {
    title:'Описание',
    active: 'active'
    },
    {
    title:'Отзывы',
    active: ''
    }
    ];
-
    var productList = [
    {
    title: 'Страна:',
    val: 'Бразилия'
    },
    {
    title: 'Состав:',
    val: 'Необжаренный бразильский орех'
    },
    {
    title: 'Срок хранения:',
    val: 'Хранить в сухом прохладном месте'
    },
    {
    title: 'Питательный состав:',
    val: 'углеводы - 12г, белки - 14г, жиры - 66г'
    },
    {
    title: 'Энергетическая ценность на 100 г продукта:',
    val: '656 ккал'
    }
    ];
-
    var contactsList = [
    {
    svg: 'placeholder',
    content: 'г. Москва, Нижегородская улица, д. 29-33'
    },
    {
    svg: 'call-answer',
    content: '8 (495) 797-38-66'
    },
    {
    svg: 'clock2',
    content: 'Прием заказов по телефону: ежедневно с 9:00 до 18:00 <br> Прием заказов через Интернет: ежедневно круглосуточно'
    }
    ];
-
    var artsList = [
        {
            list :[{
            title: 'Почему орехи необходимо вымачивать?',
            desc: 'Все знают, что орехи – достаточно тяжелая пища для усвоения и переваривания, т.к. содержат белки и жиры...',
            src: 'images/content/articles/1.jpg',
            cols: 10
            },
            {
            title: 'Какие орехи наиболее полезны?',
            desc: 'Нет общего полезного ореха для всех.  Разным людям подходит разное. Нужно знать состояние здоровья ...',
            src: 'images/content/articles/2.jpg',
            cols: 6
            },
            {
            title: 'Какой орех наиболее жирный и способствует набору веса?',
            desc: 'Самый жирный и калорийный орех – пекан. От него действительно можно набрать вес, если злоупотреблять и есть каждый день... ',
            src: 'images/content/articles/3.jpg',
            cols: 8
            }]
        },
        {
            dopClass: 'arts__row_bottom',
            list:[
            {
            title: 'Какие орехи наиболее полезны?',
            desc: 'Нет общего полезного ореха для всех.  Разным людям подходит разное. Нужно знать состояние здоровья ...',
            src: 'images/content/articles/4.jpg',
            cols: 6,
            dopClass:'art__item_alb'
            },
            {
            title: 'Какой орех наиболее жирный и способствует набору веса?',
            desc: 'Самый жирный и калорийный орех – пекан. От него действительно можно набрать вес, если злоупотреблять и есть каждый день... ',
            src: 'images/content/articles/5.jpg',
            cols: 8,
            dopClass:'art__item_alb'
            },
            {
            title: 'Почему орехи необходимо вымачивать?',
            desc: 'Все знают, что орехи – достаточно тяжелая пища для усвоения и переваривания, т.к. содержат белки и жиры...',
            src: 'images/content/articles/6.jpg',
            cols: 10,
            dopClass:'art__item_alb'
            }
            ]
        }


    ];