-
    var nav = [
    {
    title: 'О компании',
    link: 'company.html',
    sub : [
    {
    title: 'О нас',
    link: 'company.html'
    },
    {
    title: 'Отзывы',
    link: 'reviews.html'
    },
    {
    title: 'Сертификаты',
    link: './'
    },
    {
    title: 'Партнерам',
    link: 'partners.html'
    }
    ]
    },
    {
    title: 'Доставка и оплата',
    link: './'
    },
    {
    title: 'Производители',
    link: './'
    },
    {
    title: 'Акции',
    link: 'stocks.html'
    },
    {
    title: 'Контакты',
    link: 'contacts.html'
    }
    ];
-
    var menu = [
    {
    title: 'Орехи',
    link: 'catalog.html',
    svg: 'nuts'
    },
    {
    title: 'Сухофрукты',
    link: 'catalog.html',
    svg: 'fruits'
    },
    {
    title: 'Глазурь',
    link: 'catalog.html',
    svg: 'glaze'
    }
    ];
-
    var footerMenu = [
    {
    title: 'О компании',
    href: 'company.html',
    list: [
    {
    name: 'О нас',
    href: 'company.html'
    },
    {
    name: 'Наша упаковка',
    href: './'
    },
    {
    name: 'Отзывы',
    href: 'reviews.html'
    },
    {
    name: 'Сертификат',
    href: './'
    },
    {
    name: 'Партнерам',
    href: 'partners.html'
    }
    ]
    },
    {
    title: 'Каталог',
    href: 'catalog.html',
    list: [
    {
    name: 'Ореха',
    href: 'catalog.html'
    },
    {
    name: 'Сухофрукты',
    href: 'catalog.html'
    },
    {
    name: 'Глазурь',
    href: 'catalog.html'
    }
    ]
    },
    {
    title: 'Доставка и оплата',
    href: './',
    list: [
    {
    name: 'Акции',
    href: 'stocks.html'
    },
    {
    name: 'Производители',
    href: './'
    },
    {
    name: 'Контакты',
    href: 'contacts.html'
    }
    ]
    }
    ];
-
    var icats = ['Орехи', 'Сухофрукты', 'Глазурь'];
-
    var ispecs = [
    {
    title: 'Все',
    count: 12,
    active: 'active'
    },
    {
    title: 'Орехи',
    count: 6,
    active: ''
    },
    {
    title: 'Сухофрукты',
    count: 8,
    active: ''
    },
    {
    title: 'Глазурь',
    count: 7,
    active: ''
    }
    ];
-
    var productDesc = [
    {
    title:'Описание',
    active: 'active'
    },
    {
    title:'Отзывы',
    active: ''
    }
    ];
-
    var productList = [
    {
    title: 'Страна:',
    val: 'Бразилия'
    },
    {
    title: 'Состав:',
    val: 'Необжаренный бразильский орех'
    },
    {
    title: 'Срок хранения:',
    val: 'Хранить в сухом прохладном месте'
    },
    {
    title: 'Питательный состав:',
    val: 'углеводы - 12г, белки - 14г, жиры - 66г'
    },
    {
    title: 'Энергетическая ценность на 100 г продукта:',
    val: '656 ккал'
    }
    ];
-
    var contactsList = [
    {
    svg: 'placeholder',
    content: 'г. Москва, Нижегородская улица, д. 29-33'
    },
    {
    svg: 'call-answer',
    content: '8 (495) 797-38-66'
    },
    {
    svg: 'clock2',
    content: 'Прием заказов по телефону: ежедневно с 9:00 до 18:00 <br> Прием заказов через Интернет: ежедневно круглосуточно'
    }
    ];
-
    var artsList = [
        {
            list :[{
            title: 'Почему орехи необходимо вымачивать?',
            desc: 'Все знают, что орехи – достаточно тяжелая пища для усвоения и переваривания, т.к. содержат белки и жиры...',
            src: 'images/content/articles/1.jpg',
            cols: 10
            },
            {
            title: 'Какие орехи наиболее полезны?',
            desc: 'Нет общего полезного ореха для всех.  Разным людям подходит разное. Нужно знать состояние здоровья ...',
            src: 'images/content/articles/2.jpg',
            cols: 6
            },
            {
            title: 'Какой орех наиболее жирный и способствует набору веса?',
            desc: 'Самый жирный и калорийный орех – пекан. От него действительно можно набрать вес, если злоупотреблять и есть каждый день... ',
            src: 'images/content/articles/3.jpg',
            cols: 8
            }]
        },
        {
            dopClass: 'arts__row_bottom',
            list:[
            {
            title: 'Какие орехи наиболее полезны?',
            desc: 'Нет общего полезного ореха для всех.  Разным людям подходит разное. Нужно знать состояние здоровья ...',
            src: 'images/content/articles/4.jpg',
            cols: 6,
            dopClass:'art__item_alb'
            },
            {
            title: 'Какой орех наиболее жирный и способствует набору веса?',
            desc: 'Самый жирный и калорийный орех – пекан. От него действительно можно набрать вес, если злоупотреблять и есть каждый день... ',
            src: 'images/content/articles/5.jpg',
            cols: 8,
            dopClass:'art__item_alb'
            },
            {
            title: 'Почему орехи необходимо вымачивать?',
            desc: 'Все знают, что орехи – достаточно тяжелая пища для усвоения и переваривания, т.к. содержат белки и жиры...',
            src: 'images/content/articles/6.jpg',
            cols: 10,
            dopClass:'art__item_alb'
            }
            ]
        }


    ];
-
    var caboutList = [
        'Реализуем натуральные продукты высокого качества для здорового питания всей семьи',
        'Большой опыт в сфере производства, расфасовки',
        'В производстве используется исключительно отборное сырьё крупных калибров и обеспечивается строгими процедурами сортировки и контроля'
    ];
-
    var cadvsLIst = [
        {
            svg: 'hands',
            title: 'Ручная фасовка'
        },
        {
            svg: 'boxes',
            title: 'Весь ассортимент в наличии на складе'
        },
        {
            svg: 'packing',
            title: 'Оригинальный и яркий дизайн упаковки'
        },
        {
            svg: 'rublAbout',
            title: 'Доступные цены и возможность осуществлять покупку оптом и в розницу;'
        },
        {
            svg: 'delivery',
            title: 'Доставка по всей России и в страны СНГ'
        },
        {
            svg: 'certificate',
            title: 'Вся продукция сертифицирована '
        },
        {
            svg: 'iso',
            title: 'Разработана и внедрена система ХАССП-ISO22000'
        },
        {
            svg: 'guarantee',
            title: 'Система контроля качества и менеджмента безопасности пищевой продукции'
        }
    ];
-
    var cabSws = [
    {
    title: 'Профиль',
    active: 'active'
    },
    {
    title: 'Сравнение',
    active: ''
    },
    {
    title: 'Смена пароля',
    active: ''
    }
    ];
-
    var persFields = [
        {
            title: 'Ф.И.О.',
            name: 'name',
            type: 'text',
            val: 'Радионов Александр Станиславович',
            placeholder: 'Ф.И.О.',
            dopClass: 'pers__field_2',
            inputClass: 'input_500'
        },
        {
            title: 'E-mail',
            name: 'email',
            type: 'email',
            val: 'info@vkusita.ru',
            placeholder: 'E-mail',
            dopClass: ''
        },
        {
            title: 'Телефон',
            name: 'tel',
            type: 'text',
            val: '8 (916) 144-58-88',
            placeholder: 'Телефон',
            dopClass: ''
        },
        {
            title: 'Страна',
            name: 'country',
            type: 'text',
            val: 'Россия',
            placeholder: 'Страна',
            dopClass: ''
        },
        {
            title: 'Город',
            name: 'city',
            type: 'text',
            val: 'Москва',
            placeholder: 'Город',
            dopClass: ''
        },
        {
            title: 'Адрес доставки',
            name: 'addr',
            type: 'text',
            val: '',
            placeholder: 'Введите адрес достваки',
            dopClass: 'pers__field_2'
        }
    ];