-
    var nav = [
        {
            title: 'О компании',
            link: '/',
            sub : [
                {
                    title: 'О нас',
                    link: '/'
                },
                {
                    title: 'Отзывы',
                    link: '/'
                },
                {
                    title: 'Сертификаты',
                    link: '/'
                },
                {
                    title: 'Партнерам',
                    link: '/'
                }
            ]
        },
        {
          title: 'Доставка и оплата',
          link: '/'
        },
        {
          title: 'Производители',
          link: '/'
        },
        {
          title: 'Акции',
          link: '/'
        },
        {
          title: 'Контакты',
          link: '/'
        }
    ];