include ../_mixins
include ../_settings

.content
    h1 Заголовок H1.
    h2 Заголовок H2.
    h3 Заголовок H3.
    h4 Заголовок H4.
    p Бразильские орехи, реализуемые компанией «Вкусита» отличаются свежестью, большим размером и стопроцентной натуральностью. При сборе и фасовке они не подвергаются обработке химикатами, их свежесть сохраняется благодаря надежным упаковкам и соблюдению норм хранения при транспортировке и на складе. Регулярные поставки орехов от проверенных производителей позволяют гарантировать постоянное наличие товара на складе и его свежесть.
    ul
        li Клетчатка, содержащаяся в ядрах и красноватой тонкой кожице орехов, способствует мягкому естественному очищению организма от токсинов и лишней жидкости, а также улучшает процессы пищеварения;
        li Всего 2-3 штуки позволяют восполнить суточную необходимость организма в селене, это ценное вещество участвует в производстве ферментов, клеточном и гормональном обмене;
        li Антиоксидантные свойства орехов позволяют бороться со свободными радикалами и пагубными окислительными процессами в организме.
    a(href='/') Ссылка