include ../_mixins
include ../_settings

    a(href='product.html').item
        .item__wrap

            //- top
            .item__top

                //- discount
                .item__discount 15%

                //- country
                .item__country
                    img(src='images/bg/flag.png').item__country-img
                    span.item__country-title Россия

                //- img
                .item__img
                    img(src='images/content/products/product.png').item__img-img

            //- bottom
            .item__bottom
                //- title
                .item__title Миндаль голд сырой

                //- pricing
                .item__pricing
                    +price('105.00')
                    +oldPrice('120.00')

                //- weight
                .item__weight
                    .item__weight-title Вес:
                    .item__weight-val 500 гр.

                //- count
                .item__count
                    .item__count-title Количество:
                    .item__count-input
                        form(action='#' method='post').count
                            button(type='button').count__up
                            input(type='text' name='count' value='1').count__input
                            button(type='button').count__down

                //- buy
                .item__buy
                    button(type='button').btn
                        +icon('basket', 'btn__svg')
                        .btn__title В корзину

                //- fast
                button(type='button').item__fast Купить в один клик


        .item__hidden

            .item__wrap

                //- top
                .item__top

                    //- discount
                    .item__discount 15%

                    //- country
                    .item__country
                        img(src='images/bg/flag.png').item__country-img
                        span.item__country-title Россия

                    //- img
                    .item__img
                        img(src='images/content/products/product.png').item__img-img

                //- bottom
                .item__bottom
                    //- title
                    .item__title Миндаль голд сырой

                    //- pricing
                    .item__pricing
                        +price('105.00')
                        +oldPrice('120.00')

                    //- weight
                    .item__weight
                        .item__weight-title Вес:
                        .item__weight-val 500 гр.

                    //- count
                    .item__count
                        .item__count-title Количество:
                        .item__count-input
                            form(action='#' method='post').count
                                button(type='button').count__up
                                input(type='text' name='count' value='1').count__input
                                button(type='button').count__down

                    //- buy
                    .item__buy
                        button(type='button').btn
                            +icon('basket', 'btn__svg')
                            .btn__title В корзину

                    //- fast
                    button(type='button').item__fast Купить в один клик

            //- hidden
            .item__compare
                .item__compare-button
                    +icon('compare', 'item__compare-svg')
                    .item__compare-title Сравнить